<nav class="nav">
    <a class="logo" href="./">Šářka Šašková Art</a>
    <div class="navLinks">
        <a class="navLink">O mně</a>
        <a class="navLink">Ceník</a>
        <a class="navLink">Tetování</a>
        <a class="navLink">Rezervace</a>
        <a class="navLink">Fotografování</a>
        <a class="navLink">Obrazy</a>
        <a class="navLink">Více</a>
    </div>
</nav>